{% extends "base.html" %}
{% block content %}
<h2>{{alueenNimi}}</h2>
<div class="alert alert-success">
    {{message}}
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Ketjun nimi</th>
            <th>Aloittaja</th>
            <th>Viimeisin viesti</th>
            <th>Poistonappi</th>
            <th>Muokkaus</th>
        </tr>
    </thead>

    <tbody>
        {% for ketju in ketjut %}
        <tr>
            <td><a href="{{base_path}}/aiheet/ketju/{{ketju.id}}">{{ketju.name}}</a></td>
            {% for kayttaja in kayttajat %}
                {% if kayttaja.id == ketju.kayttaja_id %}
                    <th>{{kayttaja.name}}</th>
                {% endif %}
            {% endfor %}
            <td>11.12.2017</td>
            {% if user_logged_in.id == ketju.kayttaja_id %}
            <td><form method="post" action="{{base_path}}/aiheet/{{ketju.id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            </td>
            <td><form method="get" action="{{base_path}}/aiheet/{{ketju.id}}/muokkaa" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Muokkaa</button>
            {% endif %}
                </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user_logged_in %}
    <a href="{{base_path}}/aiheet/{{oikee}}/uusi">Lisää ketju</a>
{% endif %}
{% endblock %}