{% extends "base.html" %}
{% block content %}

<h2>{{ketju.name}}</h2>
<br>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Lähettäjä</td>
            <td>Viesti</td>
            <td>pvm</td>
            <th>Poisto</th>
            <th>Muokkaus</th>
        </tr>
    </thead>

    <tbody>
        {% for viesti in viestit %}
        <tr>
            {% for kayttaja in kayttajat %}
                {% if kayttaja.id == viesti.kayttaja_id %}
                    <th>{{kayttaja.name}}</th>
                {% endif %}
            {% endfor %}
            <th>{{viesti.sisalto}}</th>
            <td>{{viesti.aika}}</td>
            {% if user_logged_in.id == viesti.kayttaja_id %}
            <td><form method="post" action="{{base_path}}/aiheet/ketju/{{viesti.id}}/destroy" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Poista</button>
                </form>
            </td>
            <td><form method="get" action="{{base_path}}/aiheet/ketju/{{viesti.id}}/muokkaa" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Muokkaa</button>
            {% endif %}
                </form></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if user_logged_in %}
<a href="{{base_path}}/aiheet/ketju/{{oikee}}/uusi">Lisää viesti</a>
{% endif %}
{% endblock %}
