{% extends "base.html" %}
{% block content %}
<h1>Rekisteröityminen</h1>

{% if message %}
<div class="alert alert-danger">
    <p>{{message}}</p>
</div>
{% endif %}

<form method="post" action="{{base_path}}/register">
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="name" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input name="password" class="form-control" type="text">
    </div>
    
    <div class="form-group">
        <label>Salasanan vahvistus</label>
        <input name="password_confirm" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>

<!-- Kaikki lomakkeen elementit form-tagin sisään 
<form>
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input class="form-control" type="password">
    </div>

    <div class="form-group">
        <label>Vahvista salasana</label>
        <input class="form-control" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
</form>-->
{% endblock %}