{% extends "base.html" %}
{% block content %}
<h1>Keskustelufoorumi</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Aihealue</th>
            <th>Viimeisin viesti</th>
            <th>Luonut</th>
        </tr>
    </thead>

    <tbody>
        {% for alue in alueet %}
        <tr>
            <td><a href="{{base_path}}/aiheet/{{alue.id}}">{{alue.name}}</a></td>
            <td>11.11.2017</td>
            <td>Admin</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}